html, body{
	height: 100%;
}
body{
	display: flex;
    flex-direction: column; /* Para alinhar os elementos verticalmente */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
	background-image: linear-gradient( to right, #79bce2, #1100ff);

}

h1 span {
	color:#FF0000;
	text-shadow: 2px 2px 4px black;

}

h1{
	font-size: 20px;
	text-shadow: -1px -1px 0 white, 1px 1px 0 white, 2px 2px 5px black;
	letter-spacing: 1.5px;

}


img {
	border: 4px solid white;
	border-radius: 5px; /* Borda levemente arredondada */
	max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;

	
}

/* * Ajusta o Select  */
#categoria {
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    padding: 0.5em 1em; /* Reduzi o padding lateral */
    min-width: 150px; /* Evita que fique pequeno demais */
    width: 50%;
    max-width: 250px; /* Para evitar excessos */
    white-space: nowrap; /* Evita quebra de linha */
}


.uf-form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}


.btn:hover {
    background: #11165a;
    color: #fff;
}


.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	

	transition: all 0.5s ease-in-out;
}
.input-container input { 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus { 
    border-bottom: 1px solid #e74c3c;
    outline: none;
    font-size: 16px; /* Evita que o tamanho do texto mude */
}
.btn{
	color:#fff;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
	width: 70%;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}